$radius: 23px;
//$card-color: #1595d3;
$card-color: red;

.wrapper {
    margin: 0 auto;
    width: 2188px;
}

@media screen and (max-width: 680px) {
    .wrapper {
        width: 380px;
    }
}

@media screen and (min-width: 681px) and (max-width: 1350px) {
    .wrapper {
        width: 645px;
    }
}

@media screen and (min-width: 1351px) and (max-width: 2100px) {
    .wrapper {
        width: 1300px;
    }
}

@media screen and (min-width: 2101px) and (max-width: 2690px) {
    .wrapper {
        width: 1940px;
    }
}

@media screen and (min-width: 2691px) and (max-width: 3750px) {
    .wrapper {
        width: 2590px;
    }
}

@media screen and (min-width: 3751px) {
    .wrapper {
        width: 3235px;
    }
}

.project-card {
    cursor: pointer;
    width: 620px;
    height: 115px;
    background-color: $card-color;
    border-radius: $radius;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.2);
    transition: all .15s ease-in-out;

    &:hover {
        box-shadow: 0 0 15px 0 rgba(#1595d3, 0.2), 0 0 15px 0 rgba(#1595d3, 0.8);
        -ms-transform: scale(1.03); /* IE 9 */
        -webkit-transform: scale(1.03); /* Safari */
        transform: scale(1.03); /* Standard syntax */
    }
}

@media screen and (max-width: 680px) {
    .project-card {
        width: 450px;
        height: 135px;
    }
}

.add-icon{
    fill: white;
}

.add-text{
    font-size: 24px;
    color: white;
    font-family: Roboto-Bold, sans-serif;
}
