<!--Project components showing basic information about project and logo responsive design on project cards-->
<div class="wrapper mb-40" fxLayout="row wrap" fxLayoutAlign="start center">
    <div (click)="openCreateProjectDetail()"
         *ngIf="hasRoleCreateProject()"
         class="project-card m-13"
         fxLayout="row"
         fxLayoutAlign="center center"
    >
        <div>
            <img
                [src]="'assets/img/custom-svg/add-project.svg'"
                alt="add"
                class="add-icon m-10"
            >
        </div>
        <div>
            <p class="add-text m-10">
                {{'project.add' | translate | uppercase}}
            </p>
        </div>
    </div>
    <iihf-project-card *ngFor="let project of projects; trackBy:trackProjectBySelf" [project]="project">
    </iihf-project-card>
</div>
