<div [ngClass]="isMyComment ? 'my-comment comment-sizing' : 'comment comment-sizing'">
    <div class="comment-user">{{comment.createdBy.firstName}} {{comment.createdBy.lastName}}</div>

    <div class="comment-delete" *ngIf="showDeleteButton()">
        <mat-icon (click)="deleteComment()">delete</mat-icon>
    </div>

    <div class="comment-content">
        <div *ngIf="commentIsAttachment()" class="content-attachment-container">
            <ng-container *ngIf="isImage(comment.attachment.format)">
                <span class="attachment-container">
                    <div class="image-container">
                        <span class="file-format">.{{comment.attachment.format}}</span>
                        <img (click)="openPreviewImage(imageSrc)"
                             [src]="imageSrc"
                             alt="Attachment"
                             class="image"
                        />
                    </div>

                    <span (click)="openPreviewImage(imageSrc)" class="link">{{comment.attachment.fileName}}</span>
                </span>
                <a download="{{comment.attachment.fileName}}" href="{{imageSrc}}" mat-icon-button>
                    <img
                        [src]="'assets/img/svg-squares/download.svg'"
                        alt="download"
                    >
                </a>
            </ng-container>

            <ng-container *ngIf="isVideo(comment.attachment.format)">
                <span class="attachment-container">
                    <div class="video-container">
                        <span class="file-format">.{{comment.attachment.format}}</span>
                         <mat-icon class="video" (click)="openPreviewVideo(comment.attachment.filePath)">play_circle_filled</mat-icon>
                    </div>

                    <span (click)="openPreviewVideo(comment.attachment.filePath)" class="link">{{comment.attachment.fileName}}</span>
                </span>
                <a (click)="downloadVideo(comment.attachment)" class="download" mat-icon-button>
                    <img
                        [src]="'assets/img/svg-squares/download.svg'"
                        alt="download"
                    >
                </a>

            </ng-container>

            <ng-container *ngIf="isDocument(comment.attachment.format)">
                <span class="attachment-container">

                    <div class="pdf-container" fxLayout="column">
                        <div class="pdf-wrapper">
                            <div class="file-format">
                                <span>.{{comment.attachment.format}}</span>
                            </div>

                            <pdf-viewer
                                (click)="isPdf(comment.attachment.format) && openPreviewPdf(documentSrc)"
                                [fit-to-page]="true"
                                [page]="1"
                                [show-all]="false"
                                [src]="documentSrc"
                                class="pdf-content"
                            ></pdf-viewer>
                        </div>
                    </div>

                    <span (click)="isPdf(comment.attachment.format) && openPreviewPdf(documentSrc)" class="link">{{comment.attachment.fileName}}</span>
                </span>
                <a download="{{comment.attachment.fileName}}" [href]="documentSrcSanitized" mat-icon-button>
                    <img
                        [src]="'assets/img/svg-squares/download.svg'"
                        alt="download"
                    >
                </a>
            </ng-container>
        </div>
        <div *ngIf="commentIsUrl()" class="content-attachment-container">
                <span class="attachment-container">
                <div *ngIf="getVideoId()" class="image-container">
                    <span class="file-format">{{'tasks.video' | translate}}</span>
                    <img
                        (click)="openUrl()"
                        [src]="'https://img.youtube.com/vi/' + getVideoId() + '/0.jpg'"
                        alt="Url image"
                        class="image"
                    />
                </div>
                <span (click)="openUrl()" class="link">
                    {{comment.description}}
                </span>
            </span>
            <button (click)="openUrl()" *ngIf="commentIsYoutubeUrl()" mat-icon-button>
                <img
                    [src]="'assets/img/svg-squares/play.svg'"
                    alt="play"
                >
            </button>
        </div>
        <div *ngIf="commentIsText()">
            <pre class="message-text">{{comment.description}}</pre>
        </div>
    </div>

    <div class="comment-created">{{comment.created | date:'dd.MM.yyyy HH:mm'}}</div>
</div>
