.my-comment {
    position: relative;
    border-radius: 10px;
    background: #c3c3c3;
    min-height: 20px;
    margin: 25px 25px 40px;
    padding: 15px;
    max-width: 280px;
    min-width: 100px;

    .comment-created {
        right: 0;
    }
}

.my-comment:after {
    z-index: 77;
    content: '';
    position: absolute;
    bottom: 0;
    left: 30px;
    border: 20px solid transparent;
    border-top-color: #c3c3c3;
    border-bottom: 0;
    border-left: 0;
    margin-left: -6px;
    margin-bottom: -20px;
}

.my-comment-sizing:after {
    width: 0;
    height: 0;
}

.comment {
    position: relative;
    border-radius: 10px;
    background: #89cae9;
    min-height: 20px;
    margin: 25px 25px 40px auto;
    padding: 15px;
    max-width: 280px;
    min-width: 100px;

    .comment-created {
        left: 0;
    }
}

.comment:after {
    z-index: 77;
    content: '';
    position: absolute;
    bottom: 0;
    right: 30px;
    border: 20px solid transparent;
    border-top-color: #89cae9;
    border-bottom: 0;
    border-right: 0;
    margin-left: -6px;
    margin-bottom: -20px;
}

.comment-user {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 14px;
}

.comment-content {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    word-wrap: break-word;

    .content-attachment-container {
        display: flex;
        margin-top: 10px;
        align-items: center;
    }
}

.comment-delete {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;

    mat-icon {
        cursor: pointer;
    }
}

.attachment-container {
    display: flex;
    flex-grow: 1;
    align-items: center;
    width: 150px;

    .link {
        font-size: 13px;
        width: 140px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-decoration: underline;
        cursor: pointer;

        &:hover {
            text-decoration: none;
        }
    }
}

.image-container {
    min-width: 60px;
    min-height: 70px;
    width: 60px;
    height: 70px;
    overflow: hidden;
    display: inline-block;
    margin-right: 10px;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    position: relative;

    .image-format {
        position: absolute;
        left: 0;
        top: 0;
        color: #fff;
        padding: 3px 6px;
        background: #002d62;
        text-transform: lowercase;
        font-size: 0.7rem;
        border-radius: 0 0 5px;
        z-index: 1;
    }

    .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
    }

    .pdf-content {
        cursor: pointer;
        display: block;
    }
}

.pdf-wrapper {
    width: 60px;
    height: 70px !important;
    border: 1px solid;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.comment-created {
    position: absolute;
    padding-top: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin: 5px;
}

.message-text {
    white-space: pre-wrap;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
