<div [ngClass]="isMyComment ? 'my-comment comment-sizing' : 'comment comment-sizing'">
    <div class="comment-user">{{comment.createdBy.firstName}} {{comment.createdBy.lastName}}</div>

    <div class="comment-delete" *ngIf="showDeleteButton()">
        <mat-icon (click)="deleteComment()">delete</mat-icon>
    </div>

    <div class="comment-content">
        <div *ngIf="commentIsAttachment()" class="content-attachment-container">
            <ng-container *ngIf="imageSrc">
                <span class="attachment-container">
                    <div class="image-container">
                        <span class="image-format">.{{comment.attachment.format}}</span>
                        <img (click)="openPreviewAttachment(imageSrc)"
                             [src]="imageSrc"
                             alt="Attachment"
                             class="image"
                        />
                    </div>

                    <span (click)="openPreviewAttachment(imageSrc)" class="link">{{comment.attachment.fileName}}</span>
                </span>
                <a download="{{comment.attachment.fileName}}" href="{{imageSrc}}" mat-icon-button>
                    <img
                        [src]="'assets/img/svg-squares/download.svg'"
                        alt="download"
                    >
                </a>
            </ng-container>

            <ng-container *ngIf="pdfSrc">
                <span class="attachment-container">
                    <div class="image-container">
                        <span class="image-format">.{{comment.attachment.format}}</span>
                        <pdf-viewer
                            (click)="openPreviewPdf(pdfSrc)"
                            [fit-to-page]="true"
                            [page]="1"
                            [show-all]="false"
                            [src]="pdfSrc"
                            class="pdf-content"
                        ></pdf-viewer>
                    </div>
                    <span (click)="openPreviewPdf(pdfSrc)" class="link">{{comment.attachment.fileName}}</span>
                </span>
                <a download="{{comment.attachment.fileName}}" [href]="pdfSrcSanitized" mat-icon-button>
                    <img
                        [src]="'assets/img/svg-squares/download.svg'"
                        alt="download"
                    >
                </a>
            </ng-container>
        </div>
        <div *ngIf="commentIsUrl()" class="content-attachment-container">
                <span class="attachment-container">
                <div *ngIf="getVideoId()" class="image-container">
                    <span class="image-format">{{'tasks.video' | translate}}</span>
                    <img
                        (click)="openUrl()"
                        [src]="'https://img.youtube.com/vi/' + getVideoId() + '/0.jpg'"
                        alt="Url image"
                        class="image"
                    />
                </div>
                <span (click)="openUrl()" class="link">
                    {{comment.description}}
                </span>
            </span>
            <button (click)="openUrl()" *ngIf="commentIsYoutubeUrl()" mat-icon-button>
                <img
                    [src]="'assets/img/svg-squares/play.svg'"
                    alt="play"
                >
            </button>
        </div>
        <div *ngIf="commentIsText()">
            <pre class="message-text">{{comment.description}}</pre>
        </div>
    </div>

    <div class="comment-created">{{comment.created | date:'dd.MM.yyyy HH:mm'}}</div>
</div>
