<iihf-header>
    <h2 title>{{'guidelines.screenTitle' | translate}}</h2>

    <ng-container buttons *ngIf="isOpenProject()">
        <button
            (click)="createGuideline()"
            *iihfShowByRole="roles.RoleCreateGuideline"
            class="mr-10"
            color="accent"
            mat-flat-button
        >
            {{'common.create' | translate}}
        </button>
    </ng-container>
</iihf-header>

<haz-copy-indeterminate-progress-bar [loading]="loading"></haz-copy-indeterminate-progress-bar>
<haz-core-table
    (requestData)="getData($event)"
    [configuration]="tableConfiguration"
    [data]="tableData"
    (rowClick)="goToDetail($event)"
></haz-core-table>

<ng-template #updateColumn let-guideline="row">
    <div class="fr">
        <button
            mat-icon-button
            *iihfShowByRole="[roles.RoleUpdateGuideline, roles.RoleReadGuideline, roles.RoleReadGuidelineInAssignProject]"
            (click)="goToDetail(guideline)"
        >
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </div>
</ng-template>
