<!--Project component showing basic information about project and logo-->
<div fxLayout="row" class="project-card m-13">
    <div class="project-card-content" fxFlex="95" (click)="onProjectSelected()">
        <div fxFlex="15" fxLayoutAlign="center center" class="p-10">
            <!--Logo image is from static list in assets, not from API-->
            <img [src]="imagePath"
                 class="project-image"
                 (error)="setDefaultImage()"
                 alt="championship logo">
        </div>
        <div fxFlex="85">
            <p class="project-card-primary-font mb-0 mt-25">{{project?.year}} {{project?.name}}</p>
            <p *ngIf="showOneCountry" class="project-card-secondary-font m-0 mt-5">{{project?.venues[0]?.country}}</p>
            <p *ngIf="showAllCountries" class="project-card-secondary-font m-0 mt-5">{{project?.venues[0]?.country}}
                and {{project?.venues[1]?.country}}</p>
            <p *ngIf="showOneCity" class="project-card-location-font m-0 mt-5">{{project?.venues[0]?.city}}</p>
            <p *ngIf="showAllCities" class="project-card-secondary-font m-0 mt-5">{{project?.venues[0]?.city}}
                and {{project?.venues[1]?.city}}</p>
        </div>
    </div>
    <div [ngClass]="(project?.state == 'OPEN') ? 'open' : (project?.state == 'CLOSED')  ? 'closed'  : '' "
         class="project-card-right" fxFlex="5">
    </div>
</div>
