$radius: 23px;
$card-color: #fff;

%project-card-font-base {
    font-family: 'Roboto-Bold', sans-serif;
    color: #002d62;
    font-weight: bold;
    font-size: 20px;
}

.project-card {
    cursor: pointer;
    width: 620px;
    height: 115px;
    background-color: $card-color;
    border-radius: $radius;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.15s ease-in-out;

    &:hover {
        box-shadow: 0 0 15px 0 rgba(#1595d3, 0.2), 0 0 15px 0 rgba(#1595d3, 0.8);
        transform: scale(1.03); /* Standard syntax */
    }
}

.project-card-content {
    background-color: $card-color;
    border-top-left-radius: $radius - 3px;
    border-bottom-left-radius: $radius - 3px;
}

.project-card-right {
    border-top-right-radius: $radius - 3px;
    border-bottom-right-radius: $radius - 3px;
}

.open {
    background-color: #1595d3;
}

.closed {
    background-color: #848484;
}

.project-card-primary-font {
    @extend %project-card-font-base;
}

.project-card-secondary-font {
    @extend %project-card-font-base;
    font-size: 16px;
}

.project-card-location-font {
    @extend %project-card-font-base;
    font-size: 16px;
    font-weight: normal;
}

@media screen and (max-width: 680px) {

    .project-card {
        width: 450px;
        height: 135px;
    }
}

.project-image {
    width: 55px;
}
