<!--Project component showing basic information about project and logo-->
<div class="project-card m-13" fxLayout="row">
    <div (click)="onProjectSelected()" class="project-card-content" fxFlex="95">
        <div class="p-10" fxFlex="15" fxLayoutAlign="center center">
            <img (error)="'assets/img/event-logos/default_logo.png'"
                 [src]="imagePath"
                 alt="championship logo"
                 class="project-image"
            >
        </div>
        <div fxFlex="85">
            <p class="project-card-primary-font mb-0 mt-25">{{project?.year}} {{project?.name}}</p>
            <p class="project-card-secondary-font m-0 mt-5">
                <ng-container *ngFor="let country of countriesTag; let i = index;">
                    <span>{{country}}</span>
                    <ng-container *ngIf="i !== countriesTag.length-1">
                        <span *ngIf="i === countriesTag.length-2">&nbsp;{{'project.and' | translate}}&nbsp;</span>
                        <span *ngIf="i < countriesTag.length-2 ">,&nbsp;</span>
                    </ng-container>
                </ng-container>
            </p>
            <p class="project-card-secondary-font m-0 mt-5">
                <ng-container *ngFor="let venue of venuesTag; let i = index;">
                    <span>{{venue}}</span>
                    <ng-container *ngIf="i !== venuesTag.length-1">
                        <span *ngIf="i === venuesTag.length-2">&nbsp;{{'project.and' | translate}}&nbsp;</span>
                        <span *ngIf="i < venuesTag.length-2 ">,&nbsp;</span>
                    </ng-container>
                </ng-container>
            </p>
        </div>
    </div>
    <div [ngClass]="(project?.state == 'OPEN') ? 'open' : (project?.state == 'CLOSED')  ? 'closed'  : '' "
         class="project-card-right" fxFlex="5"
    >
    </div>
</div>
