<!--Edit fact form with predefined values based on id from url parameters-->
<div class="basic-screen-header" fxLayout="row">
    <div class="pl-50" fxFlex="50" fxLayoutAlign="start center">
        <h3>{{'users.title' | translate}}</h3>
    </div>
    <div fxFlex fxLayoutAlign="end center" *ngIf="hasRoleCreateUser()">
        <button (click)="createUser()" class="mr-10" color="accent"
                mat-flat-button
        >
            {{'common.create' | translate}}
        </button>
    </div>
</div>

<!--Core table with custom columns, value columns have measureUnit-->
<haz-core-table (requestData)="setTableData($event)"
                [configuration]="config"
                [data]="data"
>
</haz-core-table>
<ng-template #idColumn let-actRow="row" let-context="context">
    <div class="p-5">{{actRow.id}}</div>
</ng-template>
<ng-template #firstNameColumn let-actRow="row" let-context="context">
    <div class="p-5">{{actRow.firstName}}</div>
</ng-template>
<ng-template #lastNameColumn let-actRow="row" let-context="context">
    <div class="p-5">{{actRow.lastName}}</div>
</ng-template>
<ng-template #visibleColumn let-actRow="row" let-context="context">
    <div class="p-5">{{actRow.visibleUser ? 'Yes' : 'No'}}</div>
</ng-template>
<ng-template #emailColumn let-actRow="row" let-context="context">
    <div class="p-5">{{actRow.email}}</div>
</ng-template>
<ng-template #stateColumn let-actRow="row" let-context="context">
    <div class="p-5">{{actRow.accountState}}</div>
</ng-template>
<ng-template #updateColumn let-actRow="row" let-context="context">
    <div class="fr" *ngIf="canSeeDetail()">
        <button (click)="edit(actRow.id)"
                mat-icon-button
        >
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </div>
</ng-template>
