<div class="api-photos-container" fxLayout="row wrap" fxLayoutAlign="center center">
<!-- <div class="api-photos-container" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutAlign.xs="center center" fxLayoutAlign.sm="center center" fxLayoutAlign.md="center center"> -->
  <project-card *ngFor="let project of allProjects" [project]="project"></project-card>
</div>

<haz-core-table (requestData)="setTableData($event)"
                [configuration]="config"
                [data]="data"
></haz-core-table>

