version: '3.7'

services:
  eps_db:
    image: qregistry.qbsw.local:5000/qbsw/iihf_eps_db
    container_name: container_eps_db
    ports:
      - 5442:5432
    environment:
      - POSTGRES_DB=iihfeps_db
      - POSTGRES_USER=iihfeps_adm
      - POSTGRES_PASSWORD=iihfeps_admpw
    networks:
      - eps-network

  eps_be:
    image: qbsw-docker-dev.artifactory.qbsw.local/sk/qbsw/iihf-eps/api
    container_name: container_eps_be
    ports:
      - 8080:8080
    env_file:
      - api/iihf-eps-api-dev.env
    volumes:
      - 'N:/:/data'
    networks:
      - eps-network

  eps_web:
    image: qregistry.qbsw.local:5000/qbsw/iihf_eps_web
    container_name: container_eps_web
    ports:
      - 4200:80
    networks:
      - eps-network

networks:
  eps-network:
    driver: bridge
