<div fxLayout="row" class="basic-screen-header">
    <div class="pl-50" fxLayoutAlign="start center">
        <h3>{{'tasks.edit.editTask' | translate}}</h3>
    </div>
</div>

<div fxLayout="row" style="overflow: auto;  height: calc(100vh - 160px);">
    <div fxFlex="65" fxFlex.gt-sm="100%" class="p-30 form-content" fxLayout="column">
        <task-form (formDataChange)="formDataChange($event)"></task-form>

        <div>
            <button *ngIf="projectEventService.instant.active"
                    type="submit"
                    mat-flat-button
                    color="accent"
                    class="mr-10"
                    (click)="onSave()"
                    [disabled]="!formData"
            >
                {{ 'tasks.save' | translate }}
            </button>
            <button type="button"
                    mat-button
                    class="mr-10"
                    (click)="onCancel()"
            >
                {{ 'tasks.cancel' | translate }}
            </button>
        </div>
    </div>

    <div fxFlex="35" style="background:#f4f4f4" fxLayout="column">
        <div class="w-full" fxLayout="row">
            <form [formGroup]="addCommentForm" (ngSubmit)="onCommentAdded()">
                <haz-core-input [label]="'comment.newComment' | translate"
                                [type]="'textarea'"
                                [appearance]="'fill'"
                                formControlName="newComment"
                                [pattern]="notOnlyWhiteCharactersPattern"
                                class="theme-input m-20 comment-input"
                                [maxLength]="2000"
                >
                </haz-core-input>

                <div fxFlex="50px" fxLayoutAlign="end end" class="pr-20 pb-50">

                    <button mat-icon-button
                            [disabled]="addCommentForm?.controls?.newComment?.errors"
                    >
                        <mat-icon matSuffix>send</mat-icon>
                    </button>
                </div>
            </form>
        </div>

        <haz-indeterminate-progress-bar [loading]="loading"></haz-indeterminate-progress-bar>

        <div class="comment-list">
            <div *ngFor="let comment of comments; let i = index">
                <task-comment [comment]="comment" [index]="i"></task-comment>
            </div>
        </div>

    </div>


</div>
