.comment-list {
    height: calc(100vh - 280px);
    overflow-x: auto;
}

.form-content {
    overflow: auto;
    //height: calc(100vh - 155px);
}

::ng-deep {

    .theme-input .mat-form-field-flex {
        background-color: #e8f0fe;
    }
}

.comment-input {
    width: 600px;
}

@media screen and (max-width: 2100px) {

    .comment-input {
        width: 450px;
    }
}

@media screen and (max-width: 1700px) {

    .comment-input {
        width: 100%;
    }
}
