<div fxLayout="column">
    <div style="height: 50px"></div>
    <secondary-header-project
        (onSectionSelected)="getSectionType($event)"
        *ngIf="!isSectionSettings()">
    </secondary-header-project>

    <secondary-header-settings
        (onSectionSelected)="getSectionType($event)"
        *ngIf="isSectionSettings()">
    </secondary-header-settings>
    <div>
        <mat-drawer-container autosize class="menu-container mt-50">
            <mat-drawer #drawer
                        *ngIf="projectEventService.subject.isEvent | async"
                        [@fadeEnterLeave]
                        [disableClose]="true"
                        [opened]="menuOpen"
                        class="menu-sidenav"
                        mode="side"
            >
                <div class="layer" fxLayout="column" fxLayoutAlign="space-between">
                    <div fxFlex fxLayout="column">
                        <div class="close-wrapper" fxFlex="50px">
                            <button (click)="toggleDrawer()" mat-icon-button>
                                <mat-icon>close</mat-icon>
                            </button>
                        </div>
                        <side-options-project fxFlex *ngIf="!isSectionSettings()"></side-options-project>
                        <side-options-settings fxFlex *ngIf="isSectionSettings()"></side-options-settings>
                    </div>
                    <div fxFlex="230px" fxLayout="row" fxLayoutAlign="space-between">
                        <div (dblclick)="toggleLanguage()"
                             class="version"
                             fxFlex
                             fxLayoutAlign="flex-start flex-end"
                        >{{version}}</div>
                        <div class="mr-10 mb-5" fxFlex fxLayoutAlign="flex-end flex-end">
                            <img [src]="'assets/img/iihf-logo-without-text-transparent.png'"
                                 alt="iihf logo"
                                 height="170"
                            >
                        </div>
                    </div>
                </div>
            </mat-drawer>
            <div fxLayout="column">
                <div class="menu-topnav"
                     fxLayout="row"
                     fxLayoutAlign="space-between center"
                >
                </div>
                <div [@routeAnimations]="animateRoute(outlet)">
                    <button (click)="toggleDrawer()"
                            *ngIf="!menuOpen"
                            class="drawer-open"
                            mat-icon-button
                    >
                        <mat-icon>menu</mat-icon>
                    </button>
                    <router-outlet #outlet="outlet"></router-outlet>
                </div>
            </div>
        </mat-drawer-container>
    </div>
</div>

