/*
 Icon and text color
  */
$text-color: white;

/*
 Menu background
  */
$background: rgba(0, 45, 98, .5);

@mixin block-selecting-elements() {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.full-width {
    width: 100%;
}

.menu-container {
    min-width: 100%;
    min-height: calc(100vh - 112px);
    padding: 0 !important;
    margin: 0 !important;
}

.menu-topnav {
    background: $background;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
}

.layer {
    background: $background;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.menu-sidenav {
    min-width: 245px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
}

.menu-icon-options {
    height: 40px;
    padding: 10px;
    color: $text-color;
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.move-down-close {
    opacity: 0;
    height: 0;
    transition: height 250ms ease;
}

.move-down-open {
    height: 60px;
    transition: height 250ms ease;
}

.mat-icon {
    color: $text-color;
}

.mat-icon-black {
    color: #000;
}
