<div fxLayout="column">
    <div style="height: 50px"></div>
    <secondary-header></secondary-header>
    <div>
        <mat-drawer-container class="menu-container mt-50" autosize>
            <mat-drawer #drawer
                        class="menu-sidenav"
                        mode="side"
                        opened="true"
                        [disableClose]="true"
                        *ngIf="projectEventService.subject.isEvent | async"
                        [@fadeEnterLeave]
            >
                <div class="layer">
                    <!--<div class="menu-icon-options">-->
                    <!--<button mat-icon-button (click)="toggleLanguage()">-->
                    <!--<mat-icon>language</mat-icon>-->
                    <!--</button>-->
                    <!--</div>-->
                    <side-options></side-options>
                </div>
            </mat-drawer>


            <div fxLayout="column">
                <div class="menu-topnav"
                     fxLayoutAlign="space-between center"
                     fxLayout="row">
                </div>
                <div [@routeAnimations]="animateRoute(outlet)">
                    <router-outlet #outlet="outlet"></router-outlet>
                </div>
            </div>

        </mat-drawer-container>
    </div>
</div>

