/*
 Icon and text color
  */
$text-color: white;

/*
 Menu background
  */
$background: rgba(0, 45, 98, .5);

@mixin block-selecting-elements {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.full-width {
    width: 100%;
}

.menu-container {
    min-width: 100%;
    min-height: calc(100vh - 106px);
    padding: 0 !important;
    margin: 0 !important;
}

.menu-topnav {
    background: $background;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
}

.layer {
    height: calc(100vh - 106px);
}

.menu-sidenav {
    min-width: 245px;
    background: $background;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
}

.move-down-close {
    opacity: 0;
    height: 0;
    transition: height 250ms ease;
}

.move-down-open {
    height: 60px;
    transition: height 250ms ease;
}

.mat-icon {
    color: $text-color;
}

.mat-icon-black {
    color: #000;
}

.close-wrapper {
    display: none;
    justify-content: flex-end;
    align-items: center;

    @media screen and (max-width: 1200px) {
        display: inline-flex;
    }
}

.drawer-open {
    margin-left: 5px;
    margin-top: 5px;
    position: absolute;
    display: inline;
}
