$color-secondary: #002d62;

h3, h4 {
    color: $color-secondary !important;
}

.mat-card {
    margin-bottom: 20px !important;
}

.attachment-item {
    margin-top: 15px;
}

.container-style {
    height: 56px;
    z-index: 1;
    cursor: pointer;
    border-radius: 5px;
    border: 1px dashed #87c8e7;
}

.content-style {
    pointer-events: none;
    z-index: 0;
    width: 200px;
    height: 100px !important;
    display: grid;
    align-items: center;
    justify-items: center;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid $color-secondary;

    p {
        font-family: 'Roboto', sans-serif;
        color: #87c8e7 !important;
    }
}

.relative-parent {
    position: relative;
}

.pdf-wrapper {
    width: 200px;
    height: 100px !important;
    border: 1px solid $color-secondary;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.hide-input {
    width: 100px;
    height: 100px;
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.logo-container-style {
    height: 110px;
    z-index: 1;
    cursor: pointer;
}

.logo-content-style {
    position: absolute;
    pointer-events: none;
    z-index: 0;
    width: 100px !important;
    display: grid;
    border-radius: 5px;
    padding-top: 10px;

    .project-logo {
        margin: auto;
        max-width: 80px;
        max-height: 100px;
        object-fit: cover;
    }

    .edit-svg-wrapper {
        display: flex;
        justify-content: flex-end;
    }
}

.logo-content-style-edit {
    background: #e8f0fe;
    height: 100px;
}

.remove {
    cursor: pointer;
}

.map-file, .map-file-unclickable {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 180px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: $color-secondary;
    cursor: pointer;
    text-decoration: underline;
}

.map-file-unclickable {
    cursor: default;
}

.pdf-content {
    display: block;
    cursor: pointer;
}

.pdf-content-bg {
    display: block;
}

.add-svg {
    position: absolute;
    left: 5px;
    top: 30%;
}

.drop-text {
    position: absolute;
    top: 6%;
    left: 33px;
    font-size: 11.6px;
    padding-right: 5px;
    font-family: 'Roboto', sans-serif;
    color: #87c8e7 !important;
}

.disabled {
    opacity: 50%;
}

.edit-svg {
    position: absolute;
    right: 0;
    bottom: 0;
}

::ng-deep .mat-primary .mat-pseudo-checkbox-checked {
    background: #848484;
}

::ng-deep {

    .mat-form-field .mat-form-field-flex {
        background-color: #e8f0fe;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .transparent-select .mat-form-field .mat-form-field-flex {
        background-color: rgba(0, 0, 0, 0);
    }
}

.label-style {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.error-file {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.error-text {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    bottom: 0;
}

.text-no-map-added {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #525252;
}

.mini-info-text {
    font-family: 'Roboto', sans-serif;
    font-size: 9px;
    color: #525252;
    margin: 3px;
}

.venue-info {
    color: #1595d3;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

.expanded {
    height: 100%;
}

.shrink {
    height: 205px;
}

.empty {
    height: 90px;
}

.see-button {
    color: $color-secondary;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
}

.image-uploaded {
    object-fit: cover;
    width: 205px;
    height: 100px;
    overflow: hidden;
}

.document-placeholder {
    width: 205px;
    height: 100px;
    border-radius: 5px;
    position: relative;
    background: #e7f4fb;
    margin-bottom: 20px;
}

.download-indicator {
    position: absolute;
}

.download-all {
    color: $color-secondary;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.download {
    cursor: pointer;
}
