@import 'importable/colors';

.styled-table-container {
    max-height: 620px;
    overflow: auto;
    font-family: '-apple-system', 'system-ui', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;

    .styled-table {
        width: 100%;
    }
}

.first-header-row th {
    border-bottom: none;
    white-space: nowrap;
    padding-top: 30px !important;
}

.last-header-row th {
    box-shadow: inset 0 -11px 2px -11px #424242;
}

.paginator {
    border-top: 1px solid #bdbdbd;
}

th[mat-header-cell] {
    font-weight: 600;
    padding-left: 5px;
    padding-right: 5px;
    text-align: inherit;
    color: black;
}

.border-columns {
    td[mat-cell], th[mat-header-cell] {
        border-right: 1px solid #eee;
    }
}

td[mat-cell] {
    font-size: 12px;
    color: #616161;
    padding-left: 5px;
    padding-right: 5px;
}

.data {
    padding: 5px;
    cursor: pointer;
}

.data-row {
    transition: background .3s ease;

    &:hover {
        background: #fafafa;
    }
}

tr.expand-detail-row {
    height: 0;
}

.expand-element-detail {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.expand-td {
    background: #eeeeee;
}

.white-box {
    background: white;
    padding: 10px;
    margin: 0;
}

.right-align-header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}




