<div class="styled-table-container">
    <table [dataSource]="data?.content"
           [ngClass]="{'border-columns': configuration.columnBorders}"
           class="styled-table"
           mat-table
           matSort
           multiTemplateDataRows
           [matSortActive]="configuration.predefinedSortActive ? configuration.predefinedSortActive : null"
           [matSortDirection]="configuration.predefinedSortDirection ? configuration.predefinedSortDirection : null">
        <!--header cells sticky-->
        <div *ngIf="configuration.stickyEnd">
            <div *ngFor="let columnConfig of configuration.columns; let i = index; trackBy:trackColumnConfigByColumnDef">
                <ng-container *ngIf="i>configuration.stickyEnd"
                              [matColumnDef]="columnConfig.columnDef" stickyEnd>
                    <!-- header cell -->

                    <!-- selection checkbox cell -->
                    <ng-container *ngIf="i === 0 && selectableTable">
                        <td *matCellDef="let row" mat-cell>
                            <mat-checkbox
                                (change)="$event ? selection.toggle(row) : null"
                                (click)="$event.stopPropagation()"
                                [checked]="selection.isSelected(row)"
                                [color]="configuration.selectionColor"
                            >
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <!-- dynamically set sorting -->
                    <ng-container *ngIf="columnConfig.sorting">
                        <th
                            *matHeaderCellDef
                            [ngClass]="{ 'header-flexend': isRightAligned(columnConfig.type) || columnConfig.align === 'right' }"
                            mat-header-cell
                            mat-sort-header
                        >
                            {{getLabel(columnConfig) | async}}
                        </th>
                    </ng-container>
                    <ng-container *ngIf="!columnConfig.sorting">
                        <th *matHeaderCellDef mat-header-cell>
                            <div
                                [ngClass]="{
                            'right-align-header': isRightAligned(configuration.columns[i].type) || columnConfig.align === 'right'
                        }"
                            >
                                {{getLabel(columnConfig) | async}}
                            </div>
                        </th>
                    </ng-container>

                    <!-- data row cell -->
                    <ng-container *ngIf="dataRowsDisplayed">
                        <td *matCellDef="let row" [ngClass]="{ data: configuration.expandedRowTemplate }" mat-cell>
                            <haz-table-cell [columnConfig]="columnConfig" [row]="row"></haz-table-cell>
                        </td>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="i<=configuration.stickyEnd"
                              [matColumnDef]="columnConfig.columnDef">
                    <!-- header cell -->

                    <!-- selection checkbox cell -->
                    <ng-container *ngIf="i === 0 && selectableTable">
                        <td *matCellDef="let row" mat-cell>
                            <mat-checkbox
                                (change)="$event ? selection.toggle(row) : null"
                                (click)="$event.stopPropagation()"
                                [checked]="selection.isSelected(row)"
                                [color]="configuration.selectionColor"
                            >
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <!-- dynamically set sorting -->
                    <ng-container *ngIf="columnConfig.sorting">
                        <th
                            *matHeaderCellDef
                            [ngClass]="{ 'header-flexend': isRightAligned(columnConfig.type) || columnConfig.align === 'right' }"
                            mat-header-cell
                            mat-sort-header
                        >
                            {{getLabel(columnConfig) | async}}
                        </th>
                    </ng-container>
                    <ng-container *ngIf="!columnConfig.sorting">
                        <th *matHeaderCellDef mat-header-cell>
                            <div
                                [ngClass]="{
                            'right-align-header': isRightAligned(configuration.columns[i].type) || columnConfig.align === 'right'
                        }"
                            >
                                {{getLabel(columnConfig) | async}}
                            </div>
                        </th>
                    </ng-container>

                    <!-- data row cell -->
                    <ng-container *ngIf="dataRowsDisplayed">
                        <td *matCellDef="let row" [ngClass]="{ data: configuration.expandedRowTemplate }" mat-cell>
                            <haz-table-cell [columnConfig]="columnConfig" [row]="row"></haz-table-cell>
                        </td>
                    </ng-container>
                </ng-container>
            </div>
        </div>

        <!--header cells-->
        <div *ngIf="!configuration.stickyEnd">
            <ng-container *ngFor="let columnConfig of configuration.columns; let i = index; trackBy:trackColumnConfigByColumnDef"
                          [matColumnDef]="columnConfig.columnDef">
                <!-- header cell -->

                <!-- selection checkbox cell -->
                <ng-container *ngIf="i === 0 && selectableTable">
                    <td *matCellDef="let row" mat-cell>
                        <mat-checkbox
                            (change)="$event ? selection.toggle(row) : null"
                            (click)="$event.stopPropagation()"
                            [checked]="selection.isSelected(row)"
                            [color]="configuration.selectionColor"
                        >
                        </mat-checkbox>
                    </td>
                </ng-container>

                <!-- dynamically set sorting -->
                <ng-container *ngIf="columnConfig.sorting">
                    <th
                        *matHeaderCellDef
                        [ngClass]="{ 'header-flexend': isRightAligned(columnConfig.type) || columnConfig.align === 'right' }"
                        mat-header-cell
                        mat-sort-header
                    >
                        {{getLabel(columnConfig) | async}}
                    </th>
                </ng-container>
                <ng-container *ngIf="!columnConfig.sorting">
                    <th *matHeaderCellDef mat-header-cell>
                        <div
                            [ngClass]="{
                            'right-align-header': isRightAligned(configuration.columns[i].type) || columnConfig.align === 'right'
                        }"
                        >
                            {{getLabel(columnConfig) | async}}
                        </div>
                    </th>
                </ng-container>

                <!-- data row cell -->
                <ng-container *ngIf="dataRowsDisplayed">
                    <td *matCellDef="let row" [ngClass]="{ data: configuration.expandedRowTemplate }" mat-cell>
                        <haz-table-cell [columnConfig]="columnConfig" [row]="row"></haz-table-cell>
                    </td>
                </ng-container>
            </ng-container>
        </div>

        <!--filter row cell-->

        <div *ngIf="configuration.stickyEnd">
            <div *ngFor="let columnConfig of configuration.columns; let i = index; trackBy:trackColumnConfigByColumnDef">
                <ng-container *ngIf="i>configuration.stickyEnd"
                              [matColumnDef]="columnConfig.filterElement"
                              stickyEnd>
                    <th *matHeaderCellDef mat-header-cell>
                        <haz-core-table-filter *ngIf="columnConfig.filter" [columnConfig]="columnConfig"
                                               (resetFilters)="resetFilters($event)">
                        </haz-core-table-filter>
                    </th>
                </ng-container>
                <ng-container *ngIf="i<=configuration.stickyEnd"
                              [matColumnDef]="columnConfig.filterElement"
                >
                    <th *matHeaderCellDef mat-header-cell>
                        <haz-core-table-filter *ngIf="columnConfig.filter" [columnConfig]="columnConfig"
                                               (resetFilters)="resetFilters($event)">
                        </haz-core-table-filter>
                    </th>
                </ng-container>
            </div>
        </div>

        <div *ngIf="!configuration.stickyEnd">
            <ng-container *ngFor="let columnConfig of configuration.columns; let i = index; trackBy:trackColumnConfigByColumnDef"
                          [matColumnDef]="columnConfig.filterElement">
                <th *matHeaderCellDef mat-header-cell>
                    <haz-core-table-filter *ngIf="columnConfig.filter" [columnConfig]="columnConfig"
                                           (resetFilters)="resetFilters($event)">
                    </haz-core-table-filter>
                </th>
            </ng-container>
        </div>

        <!-- expanded rows cell -->
        <ng-container matColumnDef="expandedDetail">
            <td *matCellDef="let row" [attr.colspan]="displayedColumns?.length" class="expand-td" mat-cell>
                <div [@detailExpand]="row == selectedRow ? 'expanded' : 'collapsed'" class="expand-element-detail"
                >
                    <ng-container
                        *ngTemplateOutlet="configuration.expandedRowTemplate; context: { row: row }"></ng-container>
                </div>
            </td>
        </ng-container>

        <!--  header row -->
        <tr *matHeaderRowDef="displayedColumns; sticky: true"
            [ngClass]="{ 'last-header-row': !anyFilter }"
            class=" p-0 m-0 first-header-row"
            mat-header-row
        ></tr>

        <!-- filters row -->
        <ng-container *ngIf="anyFilter">
            <tr *matHeaderRowDef="columnsFilters; sticky: true" class="p-0 m-0 last-header-row"
                mat-header-row></tr>
        </ng-container>

        <!-- data rows -->
        <ng-container>
            <tr
                (click)="onExpandableRowClicked(row); rowClicked(row)"
                *matRowDef="let row; columns: displayedColumns; let i = index"
                [class.data-row]="configuration.expandedRowTemplate || configuration.trClasses === 'data-row'"
                [ngClass]="getClass(row)"
                mat-row
            ></tr>
        </ng-container>

        <!-- expanded rows -->
        <ng-container *ngIf="configuration.expandedRowTemplate">
            <tr *matRowDef="let detail; columns: ['expandedDetail']" class="expand-detail-row" mat-row></tr>
        </ng-container>
    </table>
</div>

<!-- text on no data present -->
<div *ngIf="!dataRowsDisplayed" class="white-box row">
    <p class="pl-40 pt-15">{{ configuration.noDataText }}</p>
</div>

<mat-paginator
    [hidden]="(configuration?.pageSizeOptions && data?.totalElements < configuration.pageSizeOptions[0]) || !configuration.paging"
    [length]="data?.totalElements"
    [pageSizeOptions]="configuration.pageSizeOptions"
    [hidePageSize]="!configuration.paging"
    [pageIndex]="configuration.predefinedPageIndex ? configuration.predefinedPageIndex : 0"
    [pageSize]="configuration.predefinedPageSize ? configuration.predefinedPageSize : 15"
    class="paginator"
    showFirstLastButtons>
</mat-paginator>

