@font-face {
    font-family: 'MPLUSRounded1c-ExtraBold';
    src: url('../../assets/fonts/MPLUSRounded1c/MPLUSRounded1c-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../../assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}
