
.pdf-wrapper {
    width: 80vw;
    height: calc(80vh - 30px);

    overflow-y: auto;
}

.close-button-wrapper {
    margin-bottom: 10px;
    height: 60px;
}

.zoom-button {
    font-size: 36px;
    font-family: Roboto, sans-serif;
}
