<div class="close-button-wrapper" fxLayout="row">
    <div fxFlex fxLayoutAlign="center center">
        <button (click)="zoomOut()" mat-mini-fab color="primary" class="m-5" tabindex="-1">
            <img [src]="'assets/img/custom-svg/plus.svg'" alt="plus" class="zoom-svg">
        </button>
        <button (click)="zoomIn()" mat-mini-fab color="primary" class="m-5" tabindex="-1">
            <img [src]="'assets/img/custom-svg/minus.svg'" alt="plus" class="zoom-svg">
        </button>
    </div>
    <div fxFlex="30px" fxLayoutAlign="flex-end center">
        <button (click)="close()" color="priamry" mat-icon-button tabindex="-1">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>
<div fxLayoutAlign="center center">
    <div class="pdf-wrapper">
        <pdf-viewer
            [fit-to-page]="true"
            [original-size]="true"
            [render-text]="true"
            [show-all]="true"
            [zoom]="zoom"
            [src]="data.source"
        >
        </pdf-viewer>
    </div>
</div>
