<div fxLayout="row" class="basic-screen-header">
    <div class="pl-20" fxLayoutAlign="start center">
        <h3>{{'tasks.new.newTask' | translate}}</h3>
    </div>
</div>

<div fxLayout="row" style="overflow: auto;  height: calc(100vh - 160px);">
    <div class="p-30">
        <task-form (formDataChange)="formData=$event"></task-form>

        <div>
            <button type="submit"
                    mat-flat-button
                    color="accent"
                    class="mr-10"
                    (click)="onSave()"
                    [disabled]="formData === null"
            >
                {{ 'tasks.save' | translate }}
            </button>
            <button type="button"
                    mat-button
                    class="mr-10"
                    (click)="onCancel()"
            >
                {{ 'tasks.cancel' | translate }}
            </button>
        </div>
    </div>
</div>
