<mat-form-field [appearance]="appearance" [ngStyle]="styles">
    <mat-label>{{ label }}</mat-label>
    <input *ngIf="type === 'string'"
           [formControl]="formControl"
           [placeholder]="placeholder"
           [required]="required"
           (blur)="manageUserInput()"
           matInput
           autocomplete="off"
           style="width: 100%;"
    />
    <textarea *ngIf="type === 'textarea'"
              [formControl]="formControl"
              [placeholder]="placeholder"
              [required]="required"
              (blur)="manageUserInput()"
              matInput
              autocomplete="off"
              cdkTextareaAutosize
              class="minimum-height-20"
              style="width: 100%;"
    ></textarea>
    <mat-hint align="start">{{ displayedError }}</mat-hint>
    <mat-hint align="end">{{ displayedHint }}</mat-hint>
    <mat-error *ngIf="showErrors">{{ displayedError }}</mat-error>
</mat-form-field>
