<mat-form-field [appearance]="appearance" [ngStyle]="styles">
    <mat-label>{{ label }}</mat-label>
    <input *ngIf="type === 'string'"
           [formControl]="formControl"
           [placeholder]="placeholder"
           [required]="required"
           (focus)="handleFocus()"
           (blur)="handleBlur()"
           matInput
           autocomplete="off"
           style="width: 100%;"
           [ngStyle]="inputStyles"/>
    <textarea *ngIf="type === 'textarea'"
              [formControl]="formControl"
              [placeholder]="placeholder"
              [required]="required"
              (blur)="manageUserInput()"
              matInput
              autocomplete="off"
              cdkAutosizeMinRows="2"
              cdkAutosizeMaxRows="10"
              cdkTextareaAutosize
              style="width: 100%;"></textarea>
    <span *ngIf="textSuffix" matSuffix [ngStyle]="formControl.disabled ? {'color': '#989898'} : {}">{{textSuffix}}</span>
    <mat-hint align="start">{{ displayedError }}</mat-hint>
    <mat-hint align="end">{{ displayedHint }}</mat-hint>
    <mat-error *ngIf="showErrors">{{ displayedError }}</mat-error>
</mat-form-field>


