<!--List of facts and figures with title, create button and table with loader-->
<div>
    <iihf-header>
        <h2 title>{{ (allFacts ? 'fact.titleAllFacts' : 'fact.title') | translate}}</h2>
    
        <ng-container buttons>

            <ng-container>
                <button
                    mat-flat-button class="mr-10" color="accent"
                    (click)="createTemplate()"
                >
                    {{'common.createTemplate' | translate}}
                </button>
                <!-- namiest button Import musí byť Input/text-file -->
                <!-- <div (onFileDropped)="onFirstDocumentDropped($event)" -->
                <div>
                    <label 
                            for="import-button"
                            (click)="$event.target.value=null"
                            (change)="onImportFile($event)"
                            mat-flat-button 
                            class="input-as-button mr-10"
                            color="accent"
                    >
                    <input
                            accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                            class="hide-element"
                            id="import-button"
                            type="file"
                    >{{'common.import' | translate}} </label>
                </div>
                <!-- <button
                    mat-flat-button class="mr-10" color="accent"
                    (click)="import()"
                >
                    {{'common.import' | translate}}
                </button> -->
                <button
                    mat-flat-button class="mr-10" color="accent"
                    (click)="export()"
                >
                    {{'common.export' | translate}}
                </button>

            </ng-container>
            <ng-container *ngIf="projectEventService.instant.active && !allFacts">
                <button (click)="createFact()"
                        *iihfShowByRole="[role.RoleCreateFactItem, role.RoleCreateFactItemInAssignProject]"
                        class="mr-10"
                        color="accent"
                        mat-raised-button
                >
                    {{'common.create' | translate}}
                </button>
            </ng-container>
        </ng-container>
    </iihf-header>

    <div *ngIf="(!projectEventService.instant.firstVenue || !projectEventService.instant.secondVenue) && !router.url.includes('all-facts')">
        <p class="text-unavailable-facts">{{'fact.unavailable' | translate}}</p>
    </div>
    <!--Core table with custom columns, value columns have measureUnit-->
    <haz-core-table (requestData)="setTableData($event)"
                    *ngIf="!((!projectEventService.instant.firstVenue || !projectEventService.instant.secondVenue) && !router.url.includes('all-facts'))"
                    [configuration]="config"
                    [data]="data"
                    (rowClick)="convertAndUpdate($event)"
    >
    </haz-core-table>
    <ng-template #categoryColumn let-actRow="row" let-context="context">
        {{actRow.categoryName}}
    </ng-template>
    <ng-template #firstValueColumn let-actRow="row" let-context="context">
        <div class="fr">
            {{actRow?.valueFirst === null ? '-' : actRow?.valueFirst | thousandDelimiter: ','}} {{actRow?.valueFirst === null ? '' : actRow.measureUnit}}
        </div>
    </ng-template>
    <ng-template #secondValueColumn let-actRow="row" let-context="context">
        <div class="fr">
            {{actRow?.valueSecond === null ? '-' : actRow?.valueSecond | thousandDelimiter: ','}} {{actRow?.valueSecond === null ? '' : actRow.measureUnit}}
        </div>
    </ng-template>
    <ng-template #totalValueColumn let-actRow="row" let-context="context">
        <div class="fr">
            {{actRow?.totalValue === null ? '-' : actRow?.totalValue | thousandDelimiter: ','}} {{actRow?.totalValue !== null ? actRow.measureUnit : ''}}
        </div>
    </ng-template>
    <ng-template #updateColumn let-actRow="row" let-context="context">
        <div class="fr" *iihfShowByRole="factDetailRoles()">
            <button (click)="update(actRow.id, actRow.year, actRow.projectId)"
                    mat-icon-button
            >
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>
    </ng-template>

    <ng-template #projectTypeFilter let-columnConfig="columnConfig" let-control="control">
        <div class="w-100">
            <iihf-project-type-select
                [formControl]="control"
                [appearance]="null"
                [key]="'code'"
            ></iihf-project-type-select>
        </div>
    </ng-template>

</div>
