<div>
    <div fxLayout="row" class="basic-screen-header">
        <div class="pl-20" fxFlex="300px" fxLayoutAlign="start center">
            <h2>{{ (allFacts ? 'fact.titleAllFacts' : 'fact.title') | translate}}</h2>
        </div>
        <div fxFlex fxLayoutAlign="end center">
            <button *ngIf="projectEventService.instant.active"
                    mat-raised-button (click)="createFact()"
                    class="mr-10"
                    color="accent">
                {{'common.create' | translate}}
            </button>
        </div>
    </div>

    <haz-core-table (requestData)="setTableData($event)"
                    [configuration]="config"
                    [data]="data"
    >
    </haz-core-table>
    <ng-template #categoryColumn let-actRow="row" let-context="context">
        {{actRow.categoryName}}
    </ng-template>
    <ng-template #updateColumn let-actRow="row" let-context="context">
        <div class="fr">
            <button  mat-icon-button
                    (click)="update(actRow.id)">
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>
    </ng-template>
    <ng-template #firstValueColumn let-actRow="row" let-context="context">
        <div class="fr">
            {{actRow?.valueFirst === null ? '-' : actRow?.valueFirst | thousandDelimiter: ','}}
        </div>
    </ng-template>
    <ng-template #secondValueColumn let-actRow="row" let-context="context">
        <div class="fr">
            {{actRow?.valueSecond === null ? '-' : actRow?.valueSecond | thousandDelimiter: ','}}
        </div>
    </ng-template>
    <ng-template #totalValueColumn let-actRow="row" let-context="context">
        <div class="fr">
            {{ ((actRow.valueFirst === null && actRow.valueSecond === null) ? actRow.totalValue : (actRow.valueFirst + actRow.valueSecond))  | thousandDelimiter: ','}}
        </div>
    </ng-template>
</div>
