//
// Custom Main
//
// Add your own styles or override existing ones
//
// This file is included last, so you have access
// to all Bootstrap and Codebase functions/mixins/styles etc
// --------------------------------------------------
// If you have many custom styles, you can create and import additional files
// For example you can create _component1.scss and include it as follows:
// @import 'component1';
/*
    If you not sure in which your class belongs, insert it here
 */
@import 'generated/generated-by-amount';
@import 'importable/animations';
@import 'importable/colors';
@import 'material-theme';
@import 'override/material-override';

.c-pointer {
    cursor: pointer;
}


