<div [ngClass]="'w-' + (dateWidth * 2 + 5)" fxLayout="row">
    <haz-input-date [formControl]="fromFormControl"
                    [max]="transformToDate(toFormControl.value)"
                    class="mr-5">
    </haz-input-date>
    <haz-input-date [formControl]="toFormControl"
                    [min]="transformToDate(fromFormControl.value)">
    </haz-input-date>
    <mat-error *ngIf="dateRangeForm.errors && dateRangeForm.errors['minmax']" class="error-message">
        {{ errorInterval }}
    </mat-error>
</div>
