<div class="dialog-pop-up">
    <h2 class="title" *ngIf="data.title">{{data.title || 'Title'}}</h2>
    <p class="message" *ngIf="data.message">{{data.message || 'Supporting text'}}</p>
    <div class="buttons-container">
        <button mat-button
                class="mr-20 secondary-button"
                (click)="onCancel()">
            {{data.rejectionButtonText || 'Reject'}}
        </button>
        <button mat-raised-button
                [mat-dialog-close]="true"
                class="mr-15 primary-button">
            {{data.confirmationButtonText || 'Confirm'}}
        </button>
    </div>
</div>
