<div
    *ngIf="src != undefined"
    fxLayout="row"
>
    <div fxFlex class="map-file-edit">
        <a [href]="sanitize(src)"
           [download]="fileName"
        >
            {{fileTitle}}
        </a>
    </div>

    <a [href]="sanitize(src)"
       [download]="fileName"
    >
        <img
            src="assets/img/svg-squares/download.svg"
            alt="download"
        >
    </a>
    <a *ngIf="copyUrlButton" (click)="copyUrl()" class="link-cursor">
        <img
            src="assets/img/svg-squares/link.svg"
            alt="copy link"
        >
    </a>
</div>
