.error-message {
    font-size: 12px;
    margin-top: -14px;
}

.flex-end-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.flex-end-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

::ng-deep {

    .red-error .mat-form-field-flex {
        border-bottom: 1.5px solid #d60000;
    }

    .red-error .mat-focused .mat-form-field-underline .mat-form-field-ripple {
        background: #d60000;
    }
}
