<div [ngClass]="'w-' + inputSize" class="flex-end-column">
    <div class="flex-end-row">
        <haz-input-number [formControl]="fromControl"
                          [inputStyles]="inputStyles"
                          [label]="fromLabel"
                          class="mr-10"
                          [ngClass]="actualError === 'minmax' ? 'red-error' : ''"
                          [styles]="realStyles">
        </haz-input-number>
        <haz-input-number [label]="toLabel"
                          [styles]="realStyles"
                          [inputStyles]="inputStyles"
                          [ngClass]="actualError === 'minmax' ? 'red-error' : ''"
                          [formControl]="toControl">
        </haz-input-number>
    </div>
    <mat-error *ngIf="actualError === 'minmax'" class="error-message flex-end-row">
        {{errorInterval}}
    </mat-error>
</div>
