/*
 Icon and text color
  */
$text-color: white;

@mixin block-selecting-elements {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bottom-border {
    border-bottom: 1px solid white;
}

.menu-option {
    height: 26px;
    color: $text-color;
    padding: 21px 0 19px 19px;
    cursor: pointer;
    @include block-selecting-elements;

    &:hover {
        background: rgba(255, 255, 255, .1);
    }
}

.child-container {
    overflow: hidden;
    max-height: 0;
    padding-left: 20px;
    transition: max-height .2s ease-out;
}

.child-container-open {
    overflow: hidden;
    max-height: 100vh;
    padding-left: 20px;
    transition: max-height .5s ease-in;
}

.child-container-icon {
    overflow: hidden;
    max-width: 0;
    transition: max-width .2s ease-out;
}

.child-container-icon-open {
    overflow: hidden;
    max-width: 100vw;
    transition: max-width .5s ease-in;
}

.rotate-360 {
    transform: rotate(-360deg);
    transition: transform 250ms ease;
}

.rotate-180 {
    transform: rotate(-180deg);
    transition: transform 250ms ease;
}

.menu-icon {
    position: absolute;
    margin-top: -3px;
}

.menu-icon-dropdown {
    position: absolute;
    margin-top: -3px;
    right: 15px;
}

.mat-icon {
    color: $text-color;
}

.pl-35 {
    padding-left: 35px;
}

.side-option-selected {
    margin-top: -7px;
    height: 30px;
    width: 2px;
    background: $text-color;
    position: absolute;
    right: 3px;
    border-radius: 1px;
    transition: height .2s ease-in, margin .2s ease-in;
}

.side-option-unselected {
    margin-top: 0;
    height: 0;
    width: 2px;
    background: $text-color;
    position: absolute;
    right: 3px;
    border-radius: 1px;
    transition: height .1s ease-out, margin .2s ease-in;
}

.menu-text {
    font-family: Roboto-Bold, sans-serif;
    font-size: 14px;
}
