<div *ngFor="let menuItem of routes;">
    <div *ngIf="checkRoute(menuItem, false)"
         class="menu-option"
         matRipple
         (click)="highlightAndNavigateOption(menuItem.path)"
    >
        <div [ngClass]="getClass(menuItem.path)">
        </div>
        <mat-icon class="menu-icon">{{menuItem.data['icon']}}</mat-icon>
        <span class="pl-35 menu-text">{{menuItem.data["title"] | translate}}</span>
    </div>
    <div *ngIf="checkRoute(menuItem, true)"
         (click)="toggleMenuSelect()"
         class="menu-option"
         matRipple>
        <mat-icon class="menu-icon">{{menuItem.data["icon"]}}</mat-icon>
        <span class="pl-35 menu-text">{{menuItem.data["title"] | translate}}</span>
        <mat-icon *ngIf="menuItem.hasOwnProperty('children')"
                  class="menu-icon-dropdown"
                  [ngClass]="{'rotate-180': menuSelect, 'rotate-360': !menuSelect}">
            keyboard_arrow_down
        </mat-icon>
    </div>
    <div *ngIf="checkRoute(menuItem, true)"
         [ngClass]="{'child-container-open': menuSelect,
                 'child-container': !menuSelect}">
        <side-options [routes]="menuItem.children"></side-options>
    </div>
</div>
