
.image-wrapper {
    width: 100%;
    max-height: 70vh;
    overflow-y: auto;

    .image {
        width: auto;
        height: auto;
        max-height: 68vh;
        max-width: 100%;
    }
}

.close-button-wrapper {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    height: 50px;
}
