<div *ngIf="projectEventService.subject.isEvent | async"
     fxLayout="row"
     class="project-header m-0 p-0">
    <div fxFlex="50px"
         class="pt-10 pb-5"
         fxLayoutAlign="center center"
         [@fadeEnterLeave]
    >
        <div style="background: white; width: 28px; height: 45px;">
            <img [src]="projectEventService.instant.imagePath"
                 class="project-image"
                 alt="iihf logo"
                 width="28"
                 height="45"
            >
        </div>
    </div>
    <div fxFlex="90"
         class="mt-7"
         fxLayoutAlign="start center"
         [@fadeEnterLeave]
    >
        <h3 class="secondary-header m-0 ml-10">
            {{projectEventService.instant.selectedEvent}}
        </h3>
    </div>
    <div fxFlex
         class="mt-3"
         fxLayoutAlign="end center"
         [@fadeEnterLeave]>
        <button mat-icon-button (click)="routeToDashboard()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>

<div *ngIf="!(projectEventService.subject.isEvent | async)" class="project-header" fxLayout="row"
     fxLayoutAlign="start center">
    <h3 class="m-0 ml-20 mt-7 dashboard-text" [@fadeEnterLeave]>{{ 'dashboard.dashboard' | translate}}</h3>
    <a class="ml-50 mt-7 dashboard-filter" mat-ripple [matRippleColor]="'rgba(255,255,255,0.2)'"
       [ngClass]="(activeFilter === 'ALL') ? 'activated' : 'non-activated'"
       (click)="toggleFilter('ALL')"
       [@fadeEnterLeave]
    >
        {{ 'dashboard.all' | translate}}
    </a>
    <a class="ml-50 mt-7 dashboard-filter" mat-ripple [matRippleColor]="'rgba(255,255,255,0.2)'"
       [ngClass]="(activeFilter === 'OPEN') ? 'activated' : 'non-activated'"
       (click)="toggleFilter('OPEN')"
       [@fadeEnterLeave]
    >
        {{ 'dashboard.open' | translate}}
    </a>
    <a class="ml-50 mt-7 dashboard-filter" mat-ripple [matRippleColor]="'rgba(255,255,255,0.2)'"
       [ngClass]="(activeFilter === 'CLOSED') ? 'activated' : 'non-activated'"
       (click)="toggleFilter('CLOSED')"
       [@fadeEnterLeave]>
        {{ 'dashboard.closed' | translate}}
    </a>
</div>
