<div>
    <div fxLayout="row" class="basic-screen-header">
        <div class="pl-20" fxLayoutAlign="start center">
            <h2>{{'businessArea.title' | translate}}</h2>
        </div>
    </div>
    <haz-core-table [configuration]="config"
                    [data]="data"
    ></haz-core-table>
    <ng-template #navigationToTasksColumn let-actRow="row" let-context="context">
        <div class="fr">
            <button (click)="showTasks(1)" mat-icon-button>
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>
    </ng-template>
</div>
