<div>

    <!--    Simple title of screen-->
    <div fxLayout="row" class="basic-screen-header">
        <div class="pl-50" fxLayoutAlign="start center">
            <h2>{{'businessArea.title' | translate}}</h2>
        </div>
    </div>

    <!--    Core table representing list of business areas with custom column-->
    <haz-copy-indeterminate-progress-bar [loading]="loading"></haz-copy-indeterminate-progress-bar>
    <haz-core-table (requestData)="setTableData($event)"
                    [configuration]="config"
                    [data]="data"
                    (rowClick)="showTasks($event.name)"
                    style="width: 500px"
    ></haz-core-table>

    <!--    Custom column navigate to Tasks-->
    <ng-template #navigationToTasksColumn let-actRow="row" let-context="context">
        <div class="fr" *ngIf="allowTaskListButton()">
            <button (click)="showTasks(actRow.name)" mat-icon-button>
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>
    </ng-template>

</div>
