<iihf-header>
    <h2 title>{{'team.screenTitle' | translate}}</h2>
</iihf-header>

<haz-copy-indeterminate-progress-bar [loading]="loading"></haz-copy-indeterminate-progress-bar>
<haz-core-table
    [configuration]="tableConfiguration"
    [data]="tableData"
    (requestData)="getData($event)"
></haz-core-table>

<ng-template #updateColumn let-user="row" >
    <ng-container *ngIf="!detailNotImplemented">
        <div *iihfShowByRole="role.RoleUpdateOwnUser" class="fr">
            <button (click)="detail(user)"
                    mat-icon-button
            >
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>
    </ng-container>
</ng-template>
