.my-comment {
    position: relative;
    border-radius: 10px;
    background: #c3c3c3;
    min-height: 20px;
    margin: 25px 75px 40px 25px;
    padding: 15px;
    max-width: 400px;
    min-width: 100px;

    .comment-created {
        right: 0;
    }
}

.my-comment:after {
    z-index: 77;
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    border: 12px solid transparent;
    border-top-color: #c3c3c3;
    border-bottom: 0;
    border-left: 0;
    margin-left: -6px;
    margin-bottom: -12px;
}

.my-comment-sizing:after {
    width: 0;
    height: 0;
}

.comment {
    position: relative;
    border-radius: 10px;
    background: #89cae9;
    min-height: 20px;
    margin: 25px 25px 40px auto;
    padding: 15px;
    max-width: 400px;
    min-width: 100px;

    .comment-created {
        left: 0;
    }
}

.comment:after {
    z-index: 77;
    content: '';
    position: absolute;
    bottom: 0;
    left: 80%;
    border: 12px solid transparent;
    border-top-color: #89cae9;
    border-bottom: 0;
    border-right: 0;
    margin-left: -6px;
    margin-bottom: -12px;
}

.comment-user {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 14px;
}

.comment-content {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.comment-created {
    position: absolute;
    padding-top: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin: 5px;
}

@media screen and (max-width: 2000px) {
    .my-comment {
        margin: 25px 25px 40px 75px;
    }
}
