<mat-form-field [appearance]="appearance" [ngStyle]="styles">
    <mat-label>{{ label }}</mat-label>
    <input (blur)="handleBlur(); manageUserInput()"
           (focus)="handleFocus()"
           *ngIf="type === 'string'"
           [formControl]="formControl"
           [ngStyle]="inputStyles"
           [placeholder]="placeholder"
           [required]="required"
           autocomplete="{{autoCompleteValue}}"
           matInput
           style="width: 100%;"
    />
    <textarea (blur)="manageUserInput()"
              *ngIf="type === 'textarea'"
              [formControl]="formControl"
              [placeholder]="placeholder"
              [required]="required"
              autocomplete="off"
              cdkAutosizeMaxRows="10"
              cdkAutosizeMinRows="2"
              cdkTextareaAutosize
              matInput
              style="width: 100%;"
    ></textarea>
    <span *ngIf="textSuffix" [ngStyle]="formControl.disabled ? {'color': '#989898'} : {}" matSuffix>{{textSuffix}}</span>
    <mat-hint align="start">{{ displayedError }}</mat-hint>
    <mat-hint align="end">{{ displayedHint }}</mat-hint>
    <mat-error *ngIf="showErrors">{{ displayedError }}</mat-error>
</mat-form-field>


