<div class="top-bar" fxLayout="row">
    <div class="p-5">
        <img [src]="'assets/img/iihf-logo-without-text-transparent.png'"
             alt="iihf logo"
             class="project-image p-2"
             height="41"
             width="24"
        >
    </div>
    <div class="mt-10 ml-19 no-select title-text" fxLayout="row">
        <span class="red-title ml-19">
            {{'app.iihf' | translate}}
        </span> &nbsp;
        <span class="blue-title">
            {{'app.planningSystem' | translate}}
        </span>
        <span *ngIf="projectUserService.subject.authToken | async"
              [@moveLeft]
              style="position:absolute; right: 20px;"
        >
            <div fxLayout="row">
                <div>
                    <img
                        [src]="avatar ? avatar : defaultAvatarPath"
                        alt="avatar"
                        class="pr-5 user-icon"
                    >
                </div>

                <div>
                    <span class="small-text">{{login}}</span>
                    <button [matMenuTriggerFor]="menu" mat-icon-button>
                        <mat-icon>keyboard_arrow_down</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button *ngIf="hasRoleReadOwnUser()" (click)="openProfile()" class="small-text" mat-menu-item>
                           <mat-icon>person</mat-icon>
                            {{'app.profile' | translate}}
                        </button>
                        <button (click)="logout()" class="small-text" mat-menu-item>
                               <mat-icon>exit_to_app</mat-icon>
                              {{'app.logout' | translate}}
                        </button>
                    </mat-menu>
                </div>
            </div>

        </span>
    </div>
</div>

<iihf-menu class="clear-spaces"></iihf-menu>
