.clear-spaces {
  min-width: 100%;
  padding: 0 !important;
  margin: 0 !important;
}

.top-bar {
    position: fixed !important;
    top: 0 !important;
    z-index: 100;
    height: 56px;
    background: white;
    width: 100%;
}

.small-text {
    color: #848484;
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 14px;
}

.person-icon {
    width: 40px;
    height: 40px;
    background: red;
    border-radius: 50%;
}

.title-text {
    font-family: 'MPLUSRounded1c-ExtraBold', sans-serif;
}

.user-icon {
    font-size: 40px;
    color: #ce211f;
    width: 40px;
    height: 40px;
    object-fit: cover;
}
