
<div class="top-bar" fxLayout="row">
    <div class="p-5">
        <img [src]="'assets/img/iihf.png'"
             class="project-image p-2"
             alt="iihf logo"
             width="24"
             height="41"
        >
    </div>
    <div class="mt-10 ml-19 no-select title-text" fxLayout="row">
        <span class="red-title" style="margin-left: 19px;">
            {{'app.iihf' | translate}}
        </span> &nbsp;
        <span class="blue-title">
            {{'app.planningSystem' | translate}}
        </span>
        <span *ngIf="projectUserService.subject.authToken | async"
              style="position:absolute; right: 20px;"
              [@moveLeft]
        >
            <div fxLayout="row">
                <div>
                    <mat-icon class="pr-20 user-icon">account_circle</mat-icon>
                </div>

                <div>
                    <span class="small-text">{{login}}</span>
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>keyboard_arrow_down</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item class="small-text" (click)="logout()">
                           <mat-icon>exit_to_app</mat-icon>
                          {{'app.logout' | translate}}
                      </button>
                    </mat-menu>
                </div>
            </div>

        </span>
    </div>
</div>

<menu class="clear-spaces"></menu>
