<div class="basic-screen-header" fxLayout="row">
    <div class="pl-50" fxFlex="50" fxLayoutAlign="start center">
        <h3>{{'profile.detailTitle' | translate}}</h3>
    </div>
</div>

<form [formGroup]="profileDetailForm" style="height: calc(100vh - 160px);">
    <div class="p-30" fxLayout="row" fxLayoutGap="10px">
        <div fxFlex="100px" fxLayout="column">
            <div class="short-input">
                <iihf-avatar-input
                    [formControlName]="formControlNames.avatar"
                    (loadByteImage)="loadAvatarImage($event)"
                ></iihf-avatar-input>
            </div>
        </div>
        <div fxFlex fxLayout="column" fxLayoutGap="0">
            <div fxLayout="row" fxLayoutGap="10px">
                <div class="small-input">
                    <haz-copy-core-input [appearance]="'fill'"
                                         [label]="'profile.firstName' |  translate"
                                         [maxLength]="50"
                                         [required]="true"
                                         [pattern]="notOnlyWhiteCharactersPattern"
                                         class="theme-input"
                                         [formControlName]="formControlNames.firstName"
                    >
                    </haz-copy-core-input>
                </div>

                <div class="small-input">
                    <haz-copy-core-input [appearance]="'fill'"
                                         [label]="'profile.lastName' |  translate"
                                         [maxLength]="50"
                                         [required]="true"
                                         [pattern]="notOnlyWhiteCharactersPattern"
                                         class="theme-input"
                                         [formControlName]="formControlNames.lastName"
                    >
                    </haz-copy-core-input>
                </div>
            </div>

            <div class="long-input">
                <haz-copy-core-input [appearance]="'fill'"
                                     [label]="'profile.mobile' |  translate"
                                     [maxLength]="50"
                                     [pattern]="phonePattern"
                                     [required]="true"
                                     class="theme-input"
                                     [formControlName]="formControlNames.mobile"
                >
                </haz-copy-core-input>
            </div>

            <div class="long-input">
                <haz-copy-core-input [appearance]="'fill'"
                                     [label]="'profile.phone' |  translate"
                                     [maxLength]="50"
                                     [pattern]="phonePattern"
                                     [required]="true"
                                     class="theme-input"
                                     [formControlName]="formControlNames.phone"
                >
                </haz-copy-core-input>
            </div>

            <div class="long-input">
                <haz-copy-core-input [appearance]="'fill'"
                                     [label]="'profile.function' |  translate"
                                     [maxLength]="50"
                                     [pattern]="notOnlyWhiteCharactersPattern"
                                     [required]="true"
                                     class="theme-input"
                                     [formControlName]="formControlNames.function"
                >
                </haz-copy-core-input>
            </div>

            <div class="long-input">
                <haz-copy-core-input [appearance]="'fill'"
                                     [label]="'profile.email' |  translate"
                                     [maxLength]="50"
                                     [pattern]="emailPattern"
                                     class="theme-input"
                                     [formControlName]="formControlNames.email"
                >
                </haz-copy-core-input>
            </div>

            <div class="long-input">
                <haz-copy-core-input [appearance]="'fill'"
                                     [label]="'profile.login' |  translate"
                                     [maxLength]="50"
                                     class="theme-input"
                                     [formControlName]="formControlNames.login"
                >
                </haz-copy-core-input>
            </div>

            <div class="long-input">
                <mat-form-field appearance="fill" class="mt-8 theme-input w-full">
                    <mat-label class="label-style">{{'profile.password' | translate}}</mat-label>
                    <input [type]="hidePassword ? 'password' : 'text'"
                           class="input-style"
                           [formControlName]="formControlNames.password"
                           matInput
                    >
                    <mat-icon (click)="hidePassword = !hidePassword " class="cursor-pointer"
                              matSuffix
                              matTooltip="{{ 'login.toggleVisibility' | translate}}"
                    >
                        {{hidePassword ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                    <mat-error *ngIf="profileDetailForm?.controls?.password?.hasError('pattern')">
                        {{'profile.invalidPassword' | translate}}
                    </mat-error>
                    <mat-error *ngIf="!profileDetailForm?.controls?.password?.hasError('pattern') &&
                    profileDetailForm?.controls?.password?.hasError('maxlength')">
                        {{'hint.maxlength' | translate}}
                    </mat-error>
                </mat-form-field>
            </div>`

            <div>
                <mat-slide-toggle [formControlName]="formControlNames.state">
                    {{"profile.account" | translate}}
                    {{(this.profileDetailForm.controls.state && this.profileDetailForm.controls.state.value === 'ACTIVE' ? "profile.active" : "profile.inactive") | translate}}
                </mat-slide-toggle>
            </div>

        </div>
    </div>

    <div [@enterLeave] class="pl-130">
        <button (click)="onSave()"
                [disabled]="!this.profileDetailForm.valid"
                class="mr-10"
                color="accent"
                mat-flat-button
                type="submit"
        >
            {{ 'tasks.save' | translate }}
        </button>
        <button (click)="onCancel()"
                class="mr-10"
                mat-button
                type="button"
        >
            {{ 'tasks.cancel' | translate }}
        </button>
    </div>

</form>
