<div class="p-16">


    <haz-core-table [configuration]="config"
                    [data]="data"
    ></haz-core-table>
    <ng-template #dateFilter let-control="control">
        <haz-input-date-range [formControl]="control" style="width: 100px"></haz-input-date-range>
    </ng-template>
    <ng-template #updateColumn let-actRow="row" let-context="context">
        <div class="fr">
            <button (click)="update(actRow.id)" mat-icon-button>
                <mat-icon>edit</mat-icon>
            </button>
        </div>
    </ng-template>

    <button mat-raised-button (click)="createTask()"> CREATE</button>
    <button mat-raised-button (click)="export()"> Export</button>
</div>
