/* You can add global styles to this file, and also import other style files */


::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #cbcbcb;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #737373;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #626262;
}
