.mat-table {

    .last-header-row .mat-form-field-flex {
        padding: 0 5px;
    }

    tbody tr:hover {
        background: #e8f0fe;
    }

    tbody .clickable {
        cursor: pointer;
    }

    tbody td {
        font-size: 15px;
        padding: 5px;
    }
}
