@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '../../app/shared/hazlenut/hazelnut-common/hazelnut/styles/_main.scss';
@import 'common/scrollbar.scss';
@import 'font/font.scss';

$color-red: #CF2120;
$color-secondary: #002D62;
$title-font-size: 24px;

input {
    color: $color-secondary;
    font-size: 16px;
    font-family: 'Roboto', sans-serif !important;
}

.red-title {
    color: $color-red;
    font-size: $title-font-size;
}

.blue-title {
    color: $color-secondary;
    font-size: $title-font-size;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'MPLUSRounded1c-ExtraBold', sans-serif;
}

p {
    font-family: 'Roboto-Bold', sans-serif;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome and Opera */
}

.fr {
    float: right !important;
}

$color-primary: #1595D3;

.basic-screen-header {
    height: 50px;
    background-color: rgba($color-primary, 0.5);
    color: white;
}

.custom-date-class {
    background: rgb(240, 240, 240);
    & > .mat-calendar-body-cell-content{
        color:black;
    }
}
