<!--Edit fact form with predefined values based on id from url parameters-->
<div class="basic-screen-header" fxLayout="row">
    <div class="pl-50" fxFlex="50" fxLayoutAlign="start center">
        <h3>{{'project.detailTitle' | translate}}</h3>
    </div>
    <div *ngIf="!editMode" class="pr-20" fxFlex fxLayoutAlign="end center">
        <button (click)="toggleEditMode()" color="accent" mat-flat-button>
            {{'project.edit' | translate | uppercase}}
        </button>
    </div>
</div>

<div fxLayout="row" style="overflow: auto;  height: calc(100vh - 160px);">
    <div class="p-30">
        <project-detail-form
            (formDataChange)="formData=$event"
            [refreshSubject]="refreshSubject"
            [editMode]="editMode"
        >
        </project-detail-form>
        <div *ngIf="editMode" [@enterLeave] class="pl-110">
            <button (click)="onSave()"
                    [disabled]="!formData || !canSave"
                    class="mr-10"
                    color="accent"
                    mat-flat-button
                    type="submit"
            >
                {{ 'tasks.save' | translate }}
            </button>
            <button (click)="onCancel()"
                    class="mr-10"
                    mat-button
                    type="button"
            >
                {{ 'tasks.cancel' | translate }}
            </button>
        </div>
    </div>
</div>
