<!--<form>-->

<!--<div fxLayout="row"-->
<!--class="task-header m-0 p-0">-->

<!--<div fxFlex="90"-->
<!--class="ml-20"-->
<!--fxLayoutAlign="start center"-->
<!--&gt;-->
<!--<h3 class="m-0">-->
<!--{{ 'tasks.new.newTask' | translate }}-->
<!--</h3>-->
<!--</div>-->

<!--<div fxFlex-->
<!--class="m-0"-->
<!--fxLayoutAlign="end center"-->
<!--&gt;-->

<!--<button type="button"-->
<!--mat-button-->
<!--class="mr-10"-->
<!--(click)="onCancel()"-->
<!--&gt;-->
<!--{{ 'tasks.cancel' | translate }}-->
<!--</button>-->

<!--<button type="submit"-->
<!--mat-flat-button-->
<!--color="accent"-->
<!--class="mr-10"-->
<!--(click)="onSave()"-->
<!--&gt;-->
<!--{{ 'tasks.save' | translate }}-->
<!--</button>-->
<!--</div>-->

<!--</div>-->

<div>
    <mat-form-field>
        <mat-label>{{'fact.category' | translate}}</mat-label>
        <mat-select>
            <mat-option>Value1</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div>
    <mat-form-field>
        <mat-label>{{'fact.factItemType' | translate}}</mat-label>
        <mat-select>
            <mat-option>Value2</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<haz-core-input [label]="'task.venue' | translate"></haz-core-input>
<haz-core-input [label]="'task.venue' | translate"></haz-core-input>
<haz-core-input [label]="'task.venue' | translate"></haz-core-input>
<haz-core-input [label]="'task.venue' | translate"></haz-core-input>
<haz-core-input [label]="'task.venue' | translate"></haz-core-input>

<!--</form>-->
