@import './src/assets/styles/importable/variables.scss';

.button {
    cursor: pointer;
}

.pdf-width {
    width: 200px;
}

.attachment-label {
    font-family: $roboto-font-style;
    font-size: 1rem;
    font-stretch: 100%;
    font-weight: 400;
    line-height: 1.25em;
    padding-bottom: .75em;
    padding-left: .75em;
}
