<!--Create fact form component-->
<div fxLayout="row" class="basic-screen-header">
    <div class="pl-50" fxLayoutAlign="start center">
        <h3>{{labelKey | translate}}</h3>
    </div>
</div>

<div fxLayout="row" style="overflow: auto; height: calc(100vh - 160px);">
    <div class="p-30">
        <form [formGroup]="guidelineDetailForm">
            <div class="long-input">
                <haz-core-input
                    [label]="'guidelines.detail.title' | translate"
                    [required]="true"
                    appearance="fill"
                    [formControlName]="formControlNames.TITLE"
                >
                </haz-core-input>
            </div>

            <div class="long-input">
                <haz-core-input
                    [label]="'guidelines.detail.businessArea' | translate"
                    [required]="true"
                    appearance="fill"
                    [formControlName]="formControlNames.BUSINESS_AREA"
                >
                </haz-core-input>
            </div>

            <div class="long-input pb-20">
                <p>
                    {{ 'guidelines.detail.attachment' | translate }} *
                </p>

                <iihf-drag-drop-box
                    labelKey="guidelines.detail.dragAttachment"
                    [add]="true"
                ></iihf-drag-drop-box>
            </div>

            <div class="long-input">
                <haz-core-input
                    [label]="'guidelines.detail.description' | translate"
                    appearance="fill"
                    [formControlName]="formControlNames.DESCRIPTION"
                >
                </haz-core-input>
            </div>

        </form>

        <div>
            <button type="submit"
                    mat-flat-button
                    color="accent"
                    class="mr-10"
                    (click)="onSave()"
                    [disabled]="formData === null"
            >
                {{ 'guidelines.detail.save' | translate }}
            </button>
            <button type="button"
                    mat-button
                    class="mr-10"
                    (click)="onCancel()"
            >
                {{ 'guidelines.detail.cancel' | translate }}
            </button>
        </div>
    </div>
</div>
