$color-primary: #1595d3;
$color-secondary: #002d62;

$colors: (
    red: #ff0000,
    amber: #ff7b00,
    green: #038f03,
    nocolor: #bebebe
);

@each $color-name, $color in $colors {
    .color-#{$color-name} {
        color: $color;
    }
}

.label-style {
    color: $color-primary;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

::ng-deep {
    .mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-flex {
        background-color: #e8f0fe;
    }
}

::ng-deep {
    .theme-input .mat-form-field-flex {
        background-color: #e8f0fe;
    }
}

.long-input {
    width: 420px;
}

.short-input {
    width: 205px;
}

.input-w {
    width: 100%;
}

.color-none {
    color: #bebebe;
}

.color-circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
}
