$color-primary: #1595D3;
$color-secondary: #002D62;

$colors: (
    red: #ff0000,
    amber: #ff7b00,
    green: #038f03,
    none: #bebebe
);

mat-label {
    color: $color-primary;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
}

::ng-deep {
    .theme-input .mat-form-field-flex{
        background-color: #e8f0fe;
    }
}

::ng-deep {
    .mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-flex {
        background-color: #e8f0fe;
        border-bottom: 1px solid grey;
    }
}

.input-w {
    width: 100%;
}

.traffic-light-label {
    margin-left: 35px;
    color: red;
}

.traffic-light-label-in-options {
    margin-left: 10px;
    color: red;
}

.traffic-light-icon {
    color: red;
    position: absolute;
    bottom: -3px;
}

.traffic-light-icon-in-options {
    color: red;
    position: relative;
}

@each $colorname, $color in $colors {
    .color-#{$colorname} {
        color: $color;
    }
}

@media only screen and (max-width: 959px) {
    .two-columns-width {
        width: 204px;
    }
    .code-prefix-width {
        left: -2px;
    }
}
@media only screen and (min-width: 960px) {
    .two-columns-width {
        width: 420px;
    }
}

.code-prefix-width {
    width: 40px;
}

.code-prefix {
    position: relative;
    bottom: 3px;
    left: 5px
}

.code-width {
    width: 150px;
}

.due-date-width {
    width: 204px;
}
