<form [formGroup]="taskForm" *ngIf="(isUpdate && formLoaded) || !isUpdate">

    <div fxLayout="row" *ngIf="isUpdate">
        <div class="short-input mr-10">
            <haz-core-input [label]="'tasks.code' | translate"
                            [appearance]="'fill'"
                            formControlName="code"
                            class="theme-input"
            >
            </haz-core-input>
        </div>
        <mat-form-field appearance="fill" class="theme-input short-input">
            <mat-label class="label-style">{{ 'tasks.status' | translate }}</mat-label>
            <mat-select formControlName="state" required>
                <mat-option [value]="'OPEN'">{{'status.open' | translate}}</mat-option>
                <mat-option [value]="'CLOSED'">{{'status.closed' | translate}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div fxLayout="row">
        <mat-form-field appearance="fill" class="theme-input short-input mr-10">
            <mat-label class="label-style">{{ 'tasks.type' | translate }}</mat-label>
            <mat-select formControlName="taskType" required>
                <mat-option *ngFor="let taskType of taskTypeList" [value]="taskType.toUpperCase()">
                    {{('task.taskTypeValue.' + taskType.toLowerCase()) | translate}}
                </mat-option>
            </mat-select>
            <mat-error
                *ngIf="f?.taskType?.errors?.required">{{ 'error.required' | translate }}</mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="f.taskType.value == 'ISSUE'" appearance="fill" class="theme-input short-input">
            <mat-label class="label-style">{{ 'tasks.trafficLight' | translate }}</mat-label>
            <mat-select formControlName="trafficLight" required>
                <mat-select-trigger>
                    <div class="color-circle"
                         [ngStyle]="{'background': getCircleColor(f?.trafficLight?.value.toString().toLowerCase())}">
                    </div>
                    <span
                        class="ml-20">{{('color.' + f?.trafficLight?.value.toString().toLowerCase()) | translate}}</span>
                </mat-select-trigger>
                <mat-option *ngFor="let trafficLight of trafficLightList"
                            [value]="trafficLight.toUpperCase()">
                    <div [ngStyle]="{'background': getCircleColor(trafficLight)}" class="color-circle mt-17"></div>
                    <span class="ml-20">{{('color.' + trafficLight) | translate}}</span>
                </mat-option>
            </mat-select>
            <mat-error *ngIf="f?.trafficLight?.errors?.required">
                {{ 'error.required' | translate }}
            </mat-error>
        </mat-form-field>
    </div>

    <div class="long-input">
        <haz-core-input [label]="'tasks.title' | translate"
                        [required]="true"
                        [appearance]="'fill'"
                        formControlName="title"
                        class="theme-input"
                        [maxLength]="50"
        >
        </haz-core-input>
    </div>

    <div>
        <mat-form-field appearance="fill" class="long-input theme-input">
            <mat-label class="label-style">{{'businessArea.title' | translate}}</mat-label>
            <mat-select formControlName="businessArea" required>
                <mat-option class="color-none" value="">{{'all.empty' | translate}}</mat-option>
                <mat-option *ngFor="let businessArea of businessAreaList"
                            [value]="businessArea.id"
                >
                    {{businessArea.codeItem}} - {{businessArea.name}}
                </mat-option>
            </mat-select>
            <mat-error
                *ngIf="f?.businessArea?.errors?.required">{{ 'error.required' | translate }}</mat-error>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="fill" class="theme-input long-input">
            <mat-label class="label-style">{{ 'tasks.responsible' | translate }}</mat-label>
            <mat-select formControlName="responsible">
                <mat-option value="" class="color-none">{{'all.empty' | translate}}</mat-option>
                <mat-option *ngFor="let user of userList"
                            [value]="user.id"
                >
                    {{user.firstName}} {{user.lastName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="fill" class="theme-input long-input">
            <mat-label class="label-style">{{ 'tasks.sourceOfAgenda' | translate }}</mat-label>
            <mat-select formControlName="sourceOfAgenda">
                <mat-option value="" class="color-none">{{'all.empty' | translate}}</mat-option>
                <mat-option *ngFor="let sourceOfAgenda of sourceOfAgendaList"
                            [value]="sourceOfAgenda.id"
                >
                    {{sourceOfAgenda.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="long-input">
        <haz-core-input [label]="'tasks.sourceDescription' | translate"
                        [appearance]="'fill'"
                        [maxLength]="50"
                        formControlName="sourceDescription"
                        class="theme-input long-input"
        >
        </haz-core-input>
    </div>

    <div>
        <mat-form-field appearance="fill" class="theme-input long-input">
            <mat-label class="label-style">{{ 'tasks.phase' | translate }}</mat-label>
            <mat-select formControlName="phase">
                <mat-option value="" class="color-none">{{'all.empty' | translate}}</mat-option>
                <mat-option *ngFor="let phase of phaseList"
                            [value]="phase.id">
                    <span>
                        {{phase.checkPointFrom  | date:'d.M.yyyy'}} - {{phase.checkPointTo  | date:'d.M.yyyy'}}
                    </span>
                    <span style="position:absolute; right: 15px;">{{phase.clPhase.name}}</span>
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div fxLayout="row">
        <mat-form-field appearance="fill" class="short-input theme-input mr-10">
            <mat-label class="label-style">{{ 'tasks.dueDate' | translate }}</mat-label>
            <input matInput [matDatepicker]="picker" (dateChange)="onDateChanged($event.value)"
                   formControlName="dueDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker [dateClass]="dateClass" #picker></mat-datepicker>
            <mat-error *ngIf="dateInvalid">{{ 'error.dateFormatIsInvalid' | translate }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="short-input theme-input">
            <mat-label class="label-style">{{ 'tasks.venue' | translate }}</mat-label>
            <mat-select formControlName="venue">
                <mat-option value='NONE' class="color-none">{{ 'tasks.none' | translate }}</mat-option>
                <mat-option *ngFor="let venue of venueList" [value]="venue.city">
                    {{venue.city}}
                </mat-option>
                <mat-option value="BOTH">{{ 'tasks.both' | translate }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <mat-form-field appearance="fill" class="short-input theme-input mr-10" *ngIf="isUpdate">
        <mat-label class="label-style">{{ 'tasks.closedDate' | translate }}</mat-label>
        <input matInput [matDatepicker]="pickerClosed" (dateChange)="onDateChangedClosed($event.value)"
               formControlName="closedDate">
        <mat-datepicker-toggle matSuffix [for]="pickerClosed"></mat-datepicker-toggle>
        <mat-datepicker [dateClass]="dateClass" #pickerClosed></mat-datepicker>
        <mat-error *ngIf="dateInvalid">{{ 'error.dateFormatIsInvalid' | translate }}</mat-error>
    </mat-form-field>

    <div class="long-input">
        <haz-core-input [label]="'tasks.description' | translate"
                        [type]="'textarea'"
                        [appearance]="'fill'"
                        formControlName="description"
                        class="theme-input"
                        [maxLength]="255"
        >
        </haz-core-input>
    </div>

    <div class="long-input" *ngIf="isUpdate">
        <haz-core-input [label]="'tasks.changedAt' |  translate"
                        [appearance]="'fill'"
                        formControlName="changedAt"
                        class="theme-input"
        >
        </haz-core-input>
    </div>

    <div class="long-input" *ngIf="isUpdate">
        <haz-core-input [label]="'tasks.changedBy' | translate"
                        [appearance]="'fill'"
                        formControlName="changedBy"
                        class="theme-input"
        >
        </haz-core-input>
    </div>

</form>
